/*---------header start---- */
header {
  display: flex;
  padding: 0 16px;
  background-color: rgb(218,230,255);
}

header h1 {
  margin: 0;
  font-size: 22px;
  line-height: 64px;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: right;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
  z-index: 1;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: 0.1s;
}
.overlay.show li:nth-child(2) {
  transition-delay: 0.2s;
}
.overlay.show li:nth-child(3) {
  transition-delay: 0.3s;
}
.overlay.show li:nth-child(4) {
  transition-delay: 0.4s;
}

.pc-menu {
  display: none;
}

@media (min-width: 600px) {
  .pc-menu {
    display: block;
    margin-left: auto;

  }

  .sp-menu {
    display: none;
  }

  .pc-menu a {
    display: block;
    width: 100px;
    line-height: 64px;
    text-align: center;
    text-decoration: none;
    color: #555;
  }

  .pc-menu a:hover {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .pc-menu ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
}

.wrapper {
  padding-left: 40%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  height: 500px;
}

table {
  margin: 50px 0 ;
}
