 @charset "UTF-8";
body {
  margin: 0;
}
/*---------header start---- */
header {
  display: flex;
  padding: 0 16px;
  background-color: rgb(218,230,255);
}

header h1 {
  margin: 0;
  font-size: 22px;
  line-height: 64px;
}

.sp-menu {
  margin-left: auto;
}

.sp-menu #open {
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: right;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
  z-index: 1;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay ul {
  margin: 0;
  padding: 0;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform 0.3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: 0.1s;
}
.overlay.show li:nth-child(2) {
  transition-delay: 0.2s;
}
.overlay.show li:nth-child(3) {
  transition-delay: 0.3s;
}
.overlay.show li:nth-child(4) {
  transition-delay: 0.4s;
}

.pc-menu {
  display: none;
}

@media (min-width: 600px) {
  .pc-menu {
    display: block;
    margin-left: auto;
  }

  .sp-menu {
    display: none;
  }

  .pc-menu a {
    display: block;
    width: 100px;
    line-height: 64px;
    text-align: center;
    text-decoration: none;
    color: #555;
  }

  .pc-menu a:hover {
    background-color: rgba(255, 255, 255, 0.95);
  }

  .pc-menu ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
}

/* -------header end---- */
.cover-slide {
  position: relative;
  overflow: hidden;
}

.cover-slide::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #eeffff;
  opacity: 0;
}

.cover-slide.inview::after {
  opacity: 1;
          animation-name: kf-cover-slide;
          animation-duration: 1.6s;
          animation-timing-function: ease-in-out;
          animation-delay: 0s;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-cover-slide {
  0% {
            transform-origin: left;
            transform: scaleX(0);
  }
  50% {
            transform-origin: left;
            transform: scaleX(1);
  }
  50.1% {
            transform-origin: right;
            transform: scaleX(1);
  }
  100% {
            transform-origin: right;
            transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
            transform-origin: left;
            transform: scaleX(0);
  }
  50% {
            transform-origin: left;
            transform: scaleX(1);
  }
  50.1% {
            transform-origin: right;
            transform: scaleX(1);
  }
  100% {
            transform-origin: right;
            transform: scaleX(0);
  }
}

.img-zoom, .bg-img-zoom {
  opacity: 0;
}

.inview .img-zoom, .inview .bg-img-zoom {
  opacity: 1;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  animation-name: kf-img-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.inview .img-zoom:hover, .inview .bg-img-zoom:hover {
  transform: scale(1.1);
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
  }
}

.hover-darken::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color 0.3s ease;
  pointer-events: none;
  animation-name: kf-img-show;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-img-zoom {
  background-image: url(../images/image01-min.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
}

.img-bg50 {
  position: relative;
}

.img-bg50::before {
  display: block;
  content: '';
  padding-top: 50%;
}
/* ------main start --------*/
.main-wrapper {
	width: 960px;
	margin: 0 auto;
}

.main h1 {
	padding-top: 170px;
	border-bottom: 1px solid #ccc;

}

.main-wrapper .icon img {
 width: 200px;
 height: 200px;
 vertical-align: middle;
 display: inline-block;
}


.text {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  font-size: 16px;
  background: #e0edff;
}

.text:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.icon p {
	padding-left: 30px;
}


.contents img{
	padding-top: 20px; 
	height: 264px;
	width: 423px;
}

.article h2 {
  padding: 100px 0 50px 0;
  font-size: 40px;
}

.article p{
  width: 700px;
  font-size: 20px;
 }

.contents p {
	width: 46%;
	line-height: 1.8;
	float: right;
	padding: 17px;
	font-size: 18px;
}

.content {
  padding: 100px 0 100px 30%;
}

.content h3 {
  padding-bottom: 100px;
  font-size: 2.5vh;
}

.content-text {
  line-height: 1.8;
	padding: 17px;
	font-size: 18px;
}


@media screen and (max-width:640px) {
  /*スマホ用のcssを記述*/
  h1 {
  font-size: 1.5rem; /* 15px */
  }
  .bg-img-zoom {
    width: 100%;
  }
  .overlay #close {
    position: absolute;
    top: 16px;
    right: 63%;
    font-size: 32px;
    cursor: pointer;
  }
  
  .overlay.show li {
    width: 20%;
  }
  .text {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    font-size: 1vh;
    width: 100px;
    background: #e0edff;
  }
  
  .text:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
  }

  .article img {
    width: 400px;
  }
  
  #contents-text {
    font-size: 1vh;
    width: 400px;
  }

  .content {
    padding: 20px 0 0 0;
  }

  .content-text {
    padding-left: 0;
    width: 400px;
  }

  
  }



